* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sonorous;
}

@font-face {
    font-family: sonorous;
    src: url(Sonorous.otf);
}

body {
    /* background-color: rgb(163, 155, 168); */
    background-color: #81335f;
}

.mobile-nav-links {
    display: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #390099;
    filter: drop-shadow(0px 5px 10px rgb(65, 65, 65));
    border-bottom: 1px rgb(101, 72, 152) solid;


}

.icon-container {
    display: block;
    cursor: pointer;
}

.icon-container img {
    width: 40px;
    height: 40px;
    color: rgb(230, 230, 230);

}

.logo {

    font-size: 30px;
    color: rgb(230, 230, 230);
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.mobile-nav-links {
    display: none;
    justify-content: space-around;
    width: 45%;
}


.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(230, 230, 230);
    text-decoration: none;
    letter-spacing: 9px;
    font-weight: bold;
    font-size: 24px;
}

.mobile-nav-links a {
    color: rgb(230, 230, 230);
    text-decoration: none;
    letter-spacing: 9px;
    font-weight: bold;
    font-size: 24px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 4px;
    background-color: rgb(230, 230, 230);
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.subheader1-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #ff0054;
    filter: drop-shadow(0px 5px 10px rgb(65, 65, 65));
    border-bottom: 1px rgb(202, 111, 140) solid;
    margin: 50px 0px 50px;


}

.subheader1 {
    font-size: 30px;
    color: rgb(230, 230, 230);
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    position: relative;
    z-index: 1;
}

@media screen and (max-width:1300px) {
    .nav-links {

        width: 50%;
    }

}

@media screen and (max-width:1015px) {
    nav {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .nav-links {

        width: 90%;
        margin: 10px;

    }


    .logo {
        min-width: 507px;
        margin: 15px;
    }

}


@media screen and (max-width:760px) {
    body {
        overflow-x: hidden;
    }

    .logo {
        margin: 0px;
    }

    nav {
        flex-direction: row;

    }

    nav .nav-links {
        display: none;
    }

    .mobile-nav-links {
        position: absolute;
        right: 0px;
        height: 93vh;
        top: 7vh;
        margin: 0px;
        background-color: #390099;
        margin-top: 12px;
        border-left: 1px rgb(131, 120, 109) solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 99;

    }

    .mobile-nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);

    }

}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -6px);

}